.cardProject{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    
    padding: 1.5rem;

    background-color: var(--color-primary--light);

    color: var(--color-secondary--light);
    border-radius: 10px;

}

.cardProject .actions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    & .action{
        height: 2rem;
        width: fit-content;

        padding: 0.2rem;
        border: 1px solid transparent;
        
        border-radius: 4px;
        font-size: 1em;
        font-weight: bold;

        color: var(--color-secondary--light);
        background-color: var(--color-terciary--light);
        /* background-image: var(--color-terciary-gradient); */
    }
}

.cardProject .technologys{
    display: flex;
    justify-content: space-evenly;

}

.cardTechnologylabel{
    padding: 0.3em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

.labelText{
    font-size: 0.8em; /* Tamaño de fuente más pequeño */
    font-weight: bold;
}