.cardProject{
    height: 100%;
    width: 100%;
    display:grid;
    grid-template-areas: 
    "image      image       image"
    "content    content     content"
    "actions    actions     actions";
    grid-template-rows: 40% 40% 20%;
    border-radius: 1rem;

    background-image: var(--color-aux-gradient);
}

.cardProject img{
    grid-area: image;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    border-radius: 1rem 1rem 0 0;
}   

.cardProject .content{
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;

    & p{
        min-width: 100%;
        overflow: scroll;
    }
}

.cardProject .actions{
    grid-area: actions;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    & .mock{
        height: 2rem;
        width: fit-content;
        border-radius: 4px;
        border: 1px solid transparent;
        padding: 0.2rem;
        font-size: 1em;
        background-image: var(--color-terciary-gradient);
    }
}
